= form_for(@user) do |f|
  %table{class: :form}
    - table_form_error @user
    - form_field f, :name
    - form_field f, :surname
    - form_field f, :email
    - form_field f, :site
    - form_date f, :birthday
    - form_password f, :password
    - form_password f, :password_confirmation
    - form_submit f
