%h1 Eugene Apartment
=image_tag 'building.jpg'
%p The apartment is located in a quiet residential area in the heart of North Amsterdam near the park and a large shopping center.
%p The way from my location to Amsterdam Central Station takes around 20 minutes with the bus.
%h3 Please contact me for the reservation:
%h2 +31628736786
%h2= mail_to 'guestsbook.eu@gmail.com'
-#%p= "secret_key_base = #{Rails.application.config.secret_key_base}"
