/*
 *= require_tree .
 *= require_self
 */

@import "variables";

/*==================================================== Global ========================================================*/

body, p, ol, ul, td, div, input, textarea, select {
  font-family: arial, helvetica, sans-serif;
  text-align: left;
  font-size: $font-size;
  color: $text;
  //line-height: 18px;
  text-align: left;
}

p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  display: block;
  float: left;
}

table {
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-size: $font-size;
  border-collapse: collapse;
  th, td {
    border: 0px;
    padding: 0px;
    margin: 0px;
  }
}

img {
  border: 0px;
}

/*========================================================== Layout =================================================*/

#center-absolute {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#center {
  position: absolute;
  left: 50%;
  padding: 10px;
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

//#container {
//  width: 100%;
//  text-align: center;
//}
//
//#content {
//  //display: inline-block;
//  //width: 1300px;
//  display: table;
//  margin: 0 auto;
//}

#header {
  //min-width: 800px;
  //margin-top: 30px;
  width: 100%;
  padding: 10px;
  float: left;
  clear: both;
  #logo {
    float: left;
    vertical-align: top;
    width: 65px;
    height: 80px;
    overflow: hidden;
    img {
      width: 65px;
      height: 80px;
    }
  }
  #splash {
    float: left;
    height: 80px;
    width: 1100px;
    padding: 0px 5px 0px 10px;
    canvas {
      z-index: 1;
      position: relative;
      top: 0px;
      left: 0px;
      height: 80px;
      width: 100%;
      border: 1px $border solid;
    }
    img {
      z-index: 1;
      position: relative;
      top: 0px;
      left: 0px;
      height: 80px;
    }
    #message {
      float: left;
      clear: both;
      z-index: 2;
      position: relative;
      left: 0px;
      top: -80px;
      height: 0px;
    }
  }
  #control {
    float: right;
    vertical-align: top;
    height: 80px;
    width: 100px;
    #login {
      float: right;
      margin: 0px;
      padding-left: 15px;
      display: none;
      form {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 100%;
        border: 0px;
        input {
          //          font-size: $font-size-small;
          height: 16px;
          float: left;
        }
        input.email {
          width: 130px;
        }
        input.password {
          margin-top: 5px;
          width: 75px;
        }
        input[type=submit] {
          float: right;
          height: 22px;
          width: 45px;
          margin-top: 5px;
        }
      }
    }

    #lang {
      float: right;
      vertical-align: top;
      height: 20px;
      padding-top: 5px;
      margin-right: 10px;
      //      form {
      //        select {
      //          text-align: right;
      //          border-radius: 0;
      //          background: transparent;
      //          height: 18px;
      //          width: auto;
      //          width: 80px;
      //          padding-right: 10px;
      ////          padding: 0px 5px 0px 15px;
      //          border: 0;
      //          line-height: 1;
      //          -webkit-appearance: none;
      //          outline:none;
      //          display: inline-block;
      ////          width: 268px;
      //          font-size: $font-size;
      //          border: 1px $border solid;
      //        }
      //      }
    }
  }
}

#menu {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 12px;
  text-align: left;
  a {
    margin-left: 10px;
  }
}

#page {
  clear: both;
  float: left;
  //  min-width: 1400px;
  margin-left: 10px;
  margin-top: 5px;
  //  width: 100%;
  //  height: 100%;
}

#footer {
  float: left;
  clear: both;
  width: 100%;
  padding: 10px;
  height: 20px;
  #info {
    float: left;
    font-weight: bold;
  }
  #phone {
    clear: both;
    float: left;
  }
  #email {
    clear: both;
    float: left;
  }
  #copyright {
    float: right;
  }
}



/*=================================================== Classes =======================================================*/

.line {
  float: left;
  clear: both;
  margin-bottom: 5px;
  a {
    padding-left: 5px;
    text-decoration: none;
    color: $text;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
}

.action {
  float: left;
  clear: both;
}

div.right {
  float: right;
  padding-right: 20px;
}

span.right {
  float: right;
  padding-right: 5px;
}

div.label {
  float: left;
  font-weight: normal;
  margin: 0px 10px 0px 0px;
}

.show {
  float: left;
  font-weight: bold;
  margin-right: 10px;
}

.currency {
  float: left;
}

table.list {
  float: left;
  clear: both;
  margin-left: 2px;
  margin-right: 20px;
  td, th {
    padding: 2px 4px 2px 4px;
    border: 1px $border solid;
  }
  td.watch {
    text-align: center;
  }
  td.right {
    text-align: right;
  }
  td.arrow {
    text-align: center;
    border: 1px $border solid;
    img {
      width: 12px;
      height: 14px;
    }
  }
  th.arrow {
    width: 36px;
    img {
      //      float: left;
      width: 10px;
      height: 14px;
    }
  }
}

.paginate {
  float: left;
  clear: both;
  margin-bottom: 5px;
}

.red {
  color: red;
  padding-right: 3px;
}

.green {
  color: green;
  padding-right: 3px;
}

.blue {
  color: blue;
  padding-right: 3px;
}

/*==================================================== Rails =========================================================*/

#flash_info {
  clear: both;
  float: left;
  color: white;
  background-color: yellowgreen;
  padding: 0px 10px 0px 10px;
}

#flash_notice {
  clear: both;
  float: left;
  color: white;
  background-color: green;
  padding: 0px 10px 0px 10px;
}

#flash_alert {
  clear: both;
  float: left;
  color: white;
  background-color: blue;
  padding: 0px 10px 0px 10px;
}

#flash_error {
  clear: both;
  float: left;
  color: red;
  font-weight: bold;
  //background-color: red;
  padding: 0px 10px 0px 10px;
  h2 {
    margin: 0px;
    padding: 0px;
  }
  p {
    color: red;
  }
  ul {
    margin: 0px;
    padding: 5px 10px 10px 30px;
  }
  li {
    font-weight: normal;
    color: red;
  }
}

table.rails {
  td, th {
    border: 1px solid $border;
    padding: 3px;
  }

}

form {
  float: left;
  clear: both;
  #error_explanation {
    color: red;
  }
  .field {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 5px;
    .field_with_errors {
      label {
        float: left;
        padding-top: 5px;
      }
      input, select {
        float: left;
        margin-left: 10px;
        border: 1px solid red;
      }
    }
    label {
      float: left;
      padding-top: 5px;
    }
    input, select {
      float: left;
      margin-left: 10px;
    }
    textarea {
      float: left;
      margin-left: 10px;
      height: 100px;
    }
  }
  .actions {
    padding-top: 5px;
    float: right;
    clear: both;
  }
}

/*=================================================== Extras =========================================================*/

.empty-form {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: auto;
}

.upload-form {
  position: relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
  .wrapper {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
    :hover {
      opacity: 0.5;
    }
  }
  input[type=image] {
    position: relative;
    top: 0;
    z-index: 1;
  }
}

.check_box {
  float: left;
}


/*==================================================== Form ==========================================================*/
table.form {
  th, td {
    border: 1px solid $border;
    padding: 5px;
  }
  td.error {
    color: red;
  }
  td.message {
    color: brown;
  }
  input[type=image] {
    float: right;
  }
}
