/*====================================== Constant definition ===========================================================*/

$text: #555;
$gray: #888;
$light_text: #aaa;

$color-gray: #e3e3e3;
$color-gray-dark: #767676;
$border: #ddd;
$dark_border: #aaa;

$font-size: 13px;
$font-size-bigger: 16px;
$font-size-big: 20px;
$font-size-smaller: 12px;
$font-size-small: 10px;
$font-size-smallest: 8px;

$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-button: 12px;
$font-size-title: 18px;

