= link_to t('menu.lucy'), '/lucy'
= link_to t('menu.rooms'), '/rooms'
= link_to t('menu.news'), '/news'

-#- if User.logged?(session)
-#  - Menu.list(User.current(session)).each do |menu|
-#    = link_to menu.name, menu.ref
-#  = link_to @user.name, @user
-#- else
